<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Eat{{else}}Give Back{{/if}}
	</button>
	<button class="delete-burger" data-id="{{id}}">
		X
	</button>
</li>
